body {
  margin: 2vw 4vw;
  padding: 0;
  font-family: roboto;
  color: #1f2a44;
  -webkit-font-smoothing: antialiased;
}

h1, h2, th {
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.patient-info {
  background-color: #F2F2F2;
}

.patient-info > .container {
  margin: 0px;
}

.patient-info .info-section {
  margin: 2vw 2vw;
}

.vertical-line {
  border-left: 4px solid white;
}

.img-thumbnail {
  height: 100px;
}

.wounds {
  margin-top: 6vh;
}
